.head {
  background-color: #d7dadf; 
  text-align: center;
  padding: 50px;
  width: 100%;
}
.feature{
    text-align: center; 
    padding: 40px; 
}

.container{

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-box{
    flex:1;
    min-width: 250px;
    border: 1px solid ;
    padding: 15px;
    text-align: center;
   
   color: #d7dadf;
}

#courses{
    text-align: center; 
    padding: 40px; 
}