.profile-picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('C:\USJP\Others\SELF STUDYIMG-20250913-WA0220');
    background-size: cover;
    background-position: center;



}