body{
   font-family: Verdana; 
   text-align: center;
}

#myBtn{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: rgb(133, 203, 203);
}

.myLabels{
    font-size: 3em;
}
