.head {
  background-color: #d7dadf; 
  text-align: center;
  padding: 50px;
  width: 100%;
}

.light-theme{
  background-color: white;
  color: black;
}

.dark-theme{
  background-color: black;
  color: white;
  .head {
  background-color:black; 
  color: white;
  text-align: center;
  padding: 50px;
  width: 100%;
}
.feature{
    text-align: center; 
    padding: 40px; 
    color: white;
}
.feature-box{
    flex:1;
    min-width: 250px;
    border: 1px solid ;
    padding: 15px;
    text-align: center;
   
   color: #d7dadf;
   background-color: black;
}

.container{

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    background-color: black;
}

.footer {
  background-color: black;
  color: #fff;
}
}

.feature{
    text-align: center; 
    padding: 40px; 
}

.container{

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-box{
    flex:1;
    min-width: 250px;
    border: 1px solid ;
    padding: 15px;
    text-align: center;
   
   color: #d7dadf;
}

#courses{
    text-align: center; 
    padding: 40px; 
}

.popular-courses {
  background-color: #f9f9f9;
}

.course-card {
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-image {
  background-color: #d9d9d9;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: #777;
}

.footer {
  background-color: #4a6cf7;
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}
